<IfModule mod_rewrite.c>
  RewriteEngine On

  # Quitar la extensión .php de la URL
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^([^/]+)$ $1.php [L]

  # Quitar la extensión .html de la URL
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.html -f
  RewriteRule ^([^/]+)$ $1.html [L]

  # Desactivar caché del navegador
  <IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
  </IfModule>
</IfModule>