PORT=5001
JWT_SECRET=clave_secreta_super_segura

DB_USER=postgres
DB_HOST=localhost
DB_NAME=speakerzone
DB_PASSWORD=TU_CONTRASEÑA
# DB_PASS=TU_CONTRASEÑA # Compatibilidad con configuraciones anteriores
DB_PORT=5432

DB_SSL=false

EMAIL_USER=tu_correo_speakerzone@gmail.com
EMAIL_PASS=tu_password_de_aplicacion
FRONTEND_URL=http://localhost:5173
BASE_URL=http://localhost:5001